<% layout('layouts/boilerplate')%>
  <div class="home-page">
    <div>
     <a href="/users/register" class="book-button">Sign Up</a>
     <a href="/managers/login" class="book-button">Add Manager</a>
     </div>
  </div>
