<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/app.css" >
</head>
<body>
  <div class="home-page">
     <a href="/user/new" class="book-button">Sign Up</a>
     <a href="/location" class="book-button">View Cars</a>
  </div>
</body>
</html>