<% layout('layouts/boilerplate')%>
    <form class="location-form" action="/users/cars/location" method="POST">
        <label for="city">Select City: </label>
        <select id="city" name="city">
          <option value="Ranchi">Ranchi</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Delhi">Delhi</option>
          <option value="Kolkata">Kolkata</option>
          <option value="Bengaluru">Bengaluru</option>
        </select>
        <button type="submit">Submit</button>
    </form>
