<% layout('layouts/boilerplate')%>
    <div class="panel">
        <div class="car-type">
            <img src="/images/hatchback.png" alt="A beautiful image" class="car-icon">
            <h3 class="car-type-name">HatchBack</h3>
            <p class="pricing">$400-$800/DAY</p>
            <a href="/users/cars/hatchback" class="book-button">BOOK</a>
        </div>
        <div class="car-type">
            <img src="/images/sedan.png" alt="A beautiful image" class="car-icon">
            <h3 class="car-type-name">Sedan</h3>
            <p class="pricing">$1000-$1500/DAY</p>
            <a href="/users/cars/sedan" class="book-button">BOOK</a>
        </div>
        <div class="car-type">
            <img src="/images/suv.png" alt="A beautiful image" class="car-icon">
            <h3 class="car-type-name">SUV</h3>
            <p class="pricing">$800-$1500/DAY</p>
            <a href="/users/cars/SUV" class="book-button">BOOK</a>
        </div>
    </div>

  