<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
</head>

<body>
    <div class="panel">
        <div class="car-type">
            <img src="/hatchback.png" alt="A beautiful image" class="car-icon">
            <h3 class="car-type-name">HatchBack</h3>
            <p class="pricing">$400-$800/DAY</p>
            <a href="/users/cars/hatchback" class="book-button">BOOK</a>
        </div>
        <div class="car-type">
            <img src="/sedan.png" alt="A beautiful image" class="car-icon">
            <h3 class="car-type-name">Sedan</h3>
            <p class="pricing">$1000-$1500/DAY</p>
            <a href="/users/cars/sedan" class="book-button">BOOK</a>
        </div>
        <div class="car-type">
            <img src="/suv.png" alt="A beautiful image" class="car-icon">
            <h3 class="car-type-name">SUV</h3>
            <p class="pricing">$800-$1500/DAY</p>
            <a href="/users/cars/SUV" class="book-button">BOOK</a>
        </div>
    </div>

  
</body>

</html>