<% layout('layouts/boilerplate')%>
<div class="payment-form">
    <h1>Payment Amount: $<%=amount%></h1>
    <form action="/users/cars/confirmation" method="POST">
        <button type="submit" name="paymentStatus" value="done">Pay Now</button>
        <button type="submit" name="paymentStatus" value="pending">Pay Later</button>
    </form>
</div>
