<% layout('layouts/boilerplate')%>
<div class="manager-functions">
    <a class="book-button">Add Manager</a>
    <a class="book-button" href="/managers/cars/show">Show Cars</a>
    <a class="book-button" href="/managers/cars/add">Add Car</a>
    <a class="book-button">See Bookings for the day</a>
    <a class="book-button">Remove Manager</a>
</div>