<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <div class="confirmation-container">
     <h1>BOOKING CONFIRMED</h1>
     <div class="booking-details">
        <p>Car Booked: <%=car[0].name%></p>
        <p>Car Number: <%=car[0].carNumber%></p>
        <p>Pickup Location: <%=car[0].location%></p>
        <p>Payment <%=status%></p>
        <p>Take your license to the pickup location</p>
     </div>
    </div>
</body>
</html>